// Header Profile Icon Button
.header-profile-icon {
	width: 26px;
	height: 26px;

	img {
		max-width: 26px;
		max-height: 26px;
	}
}

// Bootstrap Header Dropdown Menus
.dropdown-menu {
	border-radius: 0px;
}

// Progress panel on billing page
%steps-remaining {
	&:before {
		content: counter(stepNum);
	}
	&:after {
		background-color: #ededed;
	}
}
.progress-panel {
	display: table;
	table-layout: fixed;
	width: 100%;
	> li {
		counter-increment: stepNum;
		text-align: center;
		display: table-cell;
		position: relative;
		color: #333;

		&:before {
			display: block;
			margin: 0 auto 4px;
			background-color: #fff;
			width: 36px;
			height: 36px;
			line-height: 32px;
			text-align: center;
			font-weight: bold;
			content: "\f00c";
			content: "\2713;";
			content: "\10003";
			content: "\10004";
			content: "\2713";
		}
		&:after {
			content: "";
			height: 2px;
			width: 100%;
			background-color: #4bbf73;
			position: absolute;
			top: 16px;
			left: 50%;
			z-index: -1;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}

		&.is-active {
			@extend %steps-remaining;
			&:before {
				background-color: #fff;
			}

			~ li {
				color: #808080;
				@extend %steps-remaining;
				&:before {
					border-color: #ededed;
				}
			}
		}
	}
}

// Switch Toggle Component
.rc-switch {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 44px;
	height: 22px;
	line-height: 20px;
	padding: 0;
	vertical-align: middle;
	border-radius: 20px 20px;
	border: 1px solid #ccc;
	background-color: #ccc;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);

	&-inner {
		color: #fff;
		font-size: 12px;
		position: absolute;
		left: 24px;
		top: 0;
	}

	&:after {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 2px;
		top: 1px;
		border-radius: 50% 50%;
		background-color: #fff;
		content: " ";
		cursor: pointer;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
		transform: scale(1);
		transition: left 0.5s cubic-bezier(0.35, 0, 0.25, 1);
		animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
		animation-duration: 0.5s;
		animation-name: rcSwitchOff;
	}

	&:hover:after {
		transform: scale(1.1);
		animation-name: rcSwitchOn;
	}

	&:focus {
		box-shadow: 0 0 0 2px tint(#2db7f5, 80%);
		outline: none;
	}

	&-checked {
		border: 1px solid #4bbf73;
		background-color: #4bbf73;

		.rc-switch-inner {
			left: 6px;
		}

		&:after {
			left: 22px;
		}
	}

	&-disabled {
		cursor: no-drop;
		background: #ccc;
		border-color: #ccc;

		&:after {
			background: #9e9e9e;
			animation-name: none;
			cursor: no-drop;
		}

		&:hover:after {
			transform: scale(1);
			animation-name: none;
		}
	}

	&-label {
		display: inline-block;
		line-height: 20px;
		font-size: 14px;
		padding-left: 10px;
		vertical-align: middle;
		white-space: normal;
		pointer-events: none;
		user-select: text;
	}
}

@keyframes rcSwitchOn {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes rcSwitchOff {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
