// Header Profile Icon Button
.header-profile-icon {
	width: 1.5rem;
	height: 1.5rem;

	img {
		max-width: 1.5rem;
		max-height: 1.5rem;
	}
}

.profile-icon {
	width: 8rem;
	height: 8rem;

	img {
		max-width: 8rem;
		max-height: 8rem;
	}

	.image-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		right: 0;
		height: 8rem;
		width: 8rem;
		margin-left: -4rem;
		opacity: 0;
		transition: 0.3s ease;
		background-color: #3a3a3a;

		.icon {
			color: white;
			font-size: 1rem;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}

	:hover .image-overlay {
		opacity: 0.5;
		cursor: pointer;
	}
}

// Bootstrap Header Dropdown Menus
.dropdown-menu {
	border-radius: 0px;
}

// Bootstrap Navigation Link Styling
.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: rgba(255, 255, 255, 0.9);
		}

		.active {
			box-shadow: inset 0px -0.2rem 0px 0px rgba(255, 255, 255, 0.4);
		}
	}
}
