{
	"presets": ["es2015", "stage-0"],
	"plugins": [
		["emotion"],
		[
			"module-resolver",
			{
				"alias": {
					"shared": "./shared",
					"client": "./client",
					"server": "./server"
				}
			}
		]
	]
}
