{
	"presets": ["es2015", "stage-0"],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"shared": "./shared",
					"client": "./client",
					"api": "./client/api",
					"common": "./client/common",
					"modules": "./client/modules",
					"server": "./server",
					"services": "./server/services",
					"controller": "./server/controller",
					"models": "./server/models",
					"orchestrator": "./server/orchestrator"
				}
			}
		],
		["transform-runtime"],
		["emotion"]
	]
}
