#authentication {
	.form-container {
		background-color: #ffffff;

		.logo {
			img {
				max-width: 230px;
				height: auto;
			}
		}
	}

	.background-container {
		background-color: #f3f3f3;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
}
