html,
body {
	height: 100%;
}

.toast-notification {
	position: initial !important;
	width: 100% !important;
	transition: none !important;

	span {
		width: 100% !important;
		border-radius: 0 !important;
	}
}
